@font-face {
    font-family: 'Stem-Medium';
    src: url('Stem-Medium.woff2') format('woff2'),
        url('Stem-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Stem-Regular';
    src: url('Stem-Regular.woff2') format('woff2'),
        url('Stem-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

